#titleFieldContainer
{
	padding: 8px;
}

#titleField
{
	width: 100%;
}

#pasteFieldContainer
{
	position: absolute;
	top: 92px;
	bottom: 50px;
	left: 0px;
	right: 0px;
}

@media (min-width: 768px)
{
	#pasteFieldContainer { top: 72px;}
}
